@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
}

body {
  max-height: 80%;
  text-align: center;
  color: #0c4fe1;
  background-color: #f0f0f0;
}

h1 {
  color: rgb(10, 10, 10);
  padding: 50px;
  font-size: 40px;
  margin-top: 30px;
}

.container {
  background-color: #ddff62;
  max-width: 80%;
  margin: auto;
  border: 3px solid #000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evitar desbordamiento horizontal en dispositivos móviles */
}

.container2 {
  background-color: #f0f3e9;
  max-width: 80%;
  margin: auto;
  border: 3px solid #000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evitar desbordamiento horizontal en dispositivos móviles */
}

.textosuperior {
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.msj {
  font-size: 30px;
  height: 30px;
}

#circles-container {
  margin-top: 30px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
}

#circle1 {
  background-color: #ff0000;
  border: 4px solid black; 
}

#circle2 {
  background-color: #00ff00;
  border: 4px solid black;
}

#circle3 {
  background-color: #0000ff;
  border: 4px solid black; 
}

#question {
  margin-top: 30px;
  font-size: 24px;
  color: #333;
}

#buttons-container {
  margin-top: 30px;
}

button {
  width: 150px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#button1 {
  background-color: #ff0000;
  color: #fff;
  border: 4px solid black; 
}

#button2 {
  background-color: #00ff00;
  color: #fff;
  border: 4px solid black; 
}

#button3 {
  background-color: #0000ff;
  color: #fff;
  border: 4px solid black; 
}


#play-again-button {
  background-color: #4285f4;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#play-again-button:hover {
  background-color: #3367d6;
}

#score {
  font-size: 20px;
  margin-top: 20px;
}

#result {
  font-size: 24px;
  margin-top: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container,
  .container2 {
    max-width: 90%; /* Ancho completo en dispositivos móviles */
  }

  #play-again-button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 10px;
  }
}
